@font-face {
  font-family: "iconfont"; /* Project id 4261673 */
  src: url('iconfont.woff2?t=1695713138421') format('woff2'),
       url('iconfont.woff?t=1695713138421') format('woff'),
       url('iconfont.ttf?t=1695713138421') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows-expand1:before {
  content: "\e608";
}

.icon-link-broken:before {
  content: "\e601";
}

.icon-caret-up:before {
  content: "\e602";
}

.icon-download:before {
  content: "\e603";
}

.icon-times:before {
  content: "\e604";
}

.icon-filter:before {
  content: "\e658";
}

.icon-exchange-vertical:before {
  content: "\e659";
}

.icon-trash:before {
  content: "\e65d";
}

.icon-note-list:before {
  content: "\e65e";
}

.icon-iphoneReverse:before {
  content: "\e65f";
}

.icon-biaodansheji_u3034:before {
  content: "\e63b";
}

.icon-folder-open:before {
  content: "\e65a";
}

.icon-book-text:before {
  content: "\e65b";
}

.icon-presentation-poll:before {
  content: "\e65c";
}

.icon-angle-right-small:before {
  content: "\e657";
}

.icon-angle-left:before {
  content: "\e656";
}

.icon-angle-down-small:before {
  content: "\e655";
}

.icon-angle-right:before {
  content: "\e650";
}

.icon-user-circle:before {
  content: "\e64f";
}

.icon-staging:before {
  content: "\e64e";
}

